#datos-alta {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.1);
}

span {
  margin: 5px;
  display: grid;
}

.celda {
  border: 0;
  font-size: 15px;
}

#consulta {
  /*display: none;*/
}

#alta {
  display: none;
}

#cambio {
  display: none;
}

#baja {
  display: none;
}

#botones-acb {
  width: 30%;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  justify-items: center;
  margin: 20px;
}
