* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

/* color azul chido: rgb(31, 39, 49) */


body {
  background-color: rgb(31, 39, 49);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  height: 100vh;
  font-weight: 300;
  text-align: justify;
}

nav {
  background-color: rgb(255, 255, 255);
  height: 4%;
  position: fixed;
  right: 0;
  width: 20%;
  display: flex;
  justify-content: space-around;
  z-index: 100;
  font-size: 150%;
  align-items: center;
  border-bottom-left-radius: 30px;
  border: solid rgb(31, 39, 49) 1px;
}

#fondo-presentacion {
  background-size: 50%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#presentacion {
  background-color: rgb(22, 28, 34);
  height: 75%;
  width: 90%;
  display: grid;
  font-family: "consolas", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 1500;
  border-bottom-right-radius: 150px;
  backdrop-filter: blur(1px);
  padding: 20px;
  border: solid rgb(255, 255, 255) 2px;
}

.advertencia {
  color: rgb(31, 39, 49);;
}

.nombre {
  font-size: 200%;
  display: grid;
  align-items: center;
}


.container {
  display: grid;
  align-items: center;
  position: relative;
  overflow: hidden; /* Para evitar desbordes */
}

.Carlos, .Charliy {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 24px;
  transition: transform 3s ease;
}

.Carlos {
  background-color: rgb(22, 28, 34);
  font-size: 70px;
  z-index: 2; /* Se coloca por encima de Charliy */
}

.Charliy {
  background-color: rgb(22, 28, 34);
  font-size: 60px;
  z-index: 1; /* Está debajo de Carlos */
}



.container:hover .Carlos {
  transform: translateX(100%); /* Mueve Carlos hacia la derecha */
}



#desc-icon {
  display: grid;
  font-size: auto;
  grid-template-columns: 95% 5%;
  align-items: right;
  padding-left: 100px;
}

.aboutme {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 100px;
}


.aboutme-cuadro {
  font-size: 28px;
  padding-top: 50px;
  padding-bottom: 30px;
}



.icon-redes {
  height: 100px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 200px;
  justify-content: center;
  grid-template-columns: 30% 70%;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid rgba(255, 255, 255, 0.1) 2px;
}



.galeria {
  height: 100%;
  padding: 20px;
  margin: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 70%;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid rgb(255, 255, 255) 2px;
}

.galeria-fotos {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
}

.galeria-hobbies {
  padding: 20px;

  margin: 50px;
  display: grid;
  justify-content: center;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid rgb(255, 255, 255) 2px;
}

.galeria-hobbies2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.galeria-cursos {
  padding: 20px;
  margin: 50px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid rgb(255, 255, 255) 2px;
}


figure {
  display: flex;
  flex-wrap: nowrap;
}

img {
  width: auto;
  max-width: 100%; 
  height: auto; 
  max-height: 90vh; 
}


.cursos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-ev {
  width: 100%;
}

.img-otros {
  width: 90%;
  max-height: 50%;
}

.img-hobbies {
  width: 100%;
  margin: 0;
}

.img-certificado {
  width: 100%;
  max-width: 800px;
}


.img-cursos{
  width: 300px;
  margin: 10px;

}

.minicursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
}


.centrar-hobbies {
  display: grid;
  justify-content: center;
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}


p {
  font-size: 20px;
}



a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  font-size: 1.1em;
  text-decoration: none;
}

.a-blanca:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.a-blanca:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.a-blanca:hover {
  font-size: 1.1em;
  text-decoration: none;
}

.a-nav:link {
  color: rgb(31, 39, 49);
  text-decoration: none;
}

.a-nav:visited {
  color: rgb(31, 39, 49);
  text-decoration: none;
}

.a-nav:hover {
  font-size: 1.1em;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 100px;
  padding-left: 100px;
}

h2 {
  color: white;
  padding: 10px;
}
/* ADAPTATIVE RESPONSIVE MEDIA*/
/* ADAPTATIVE RESPONSIVE MEDIA*/
/* ADAPTATIVE RESPONSIVE MEDIA*/

@media screen and (max-width: 1620px) {
  * {
    margin: 0;
    padding: 0;
  }

  .advertencia {
    color: white;
    width: 100%;
    height: 100%;
    font-size: 50px;
    margin: 100px;
  }

  nav {
    width: 100vw;
    left: 0;
  }

  h1 {
    padding-top: 10px;
    padding-left: 10px;
  }

  p {
    font-size: 15px;
    padding: 10px;
  }

  #fondo-presentacion {
    background-size: 350%;
    background-position-x: center;
    width: 100%;
  }

  #presentacion {
    font-size: 20px;
    justify-content: start;
    text-align: start;
    padding: 50px;
    width: 95%;
  }

  #desc-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }

  .icon-redes {
    width: 40px;
  }

  .galeria {
    padding: 0;
    margin: 5px;
  }

  .galeria-fotos {
    display: grid;
    grid-template-columns: 100%;
  }

  .galeria-hobbies {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  footer {
    font-size: 10px;
    display: block;
  }

  .img-otros {
    width: 100vw;
  }
  .img-hobbies {
    width: 100vw;
  }

  .text {
    display: none;
  }

  main {
    margin: 0;
    padding: 0;
  }

  .prev {
    max-width: 10px;
  }

  .next {
    left: 95%;
    max-width: 10px;
  }
}

/* SCROLLBAR CHANGES*/
/* SCROLLBAR CHANGES*/
/* SCROLLBAR CHANGES*/

body::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}
m body::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
