* {
  margin: 0;
  padding: 0;
}

/* color azul chido: rgb(31, 39, 49) */

body {
  background-color: rgb(31, 39, 49);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  height: 100vh;
  font-weight: 300;
  text-align: justify;
}

nav {
  background-color: rgb(255, 255, 255);
  height: 4%;
  position: fixed;
  right: 0;
  width: 50%;
  display: flex;
  justify-content: space-around;
  z-index: 100;
  font-weight: 100%;
  font-size: 200%;
  align-items: center;
  border-bottom-left-radius: 30px;
  border: solid rgb(31, 39, 49) 1px;
}

#fondo-presentacion {
  background-size: 50%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#presentacion {
  background-color: rgb(31, 39, 49);
  height: 75%;
  width: 85%;
  display: grid;
  font-family: "consolas", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 1500;
  border-bottom-right-radius: 150px;
  backdrop-filter: blur(1px);
  padding: 20px;
  border: solid rgb(255, 255, 255) 2px;
}

.nombre {
  font-weight: 200%;
  font-size: 300%;
  display: grid;
  align-items: center;
}

#desc-icon {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}

.icon-redes {
  width: 90%;
}

.galeria {
  height: 100%;
  padding: 20px;
  margin: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 70%;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid rgb(255, 255, 255) 2px;
}

.galeria-fotos {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
}

.galeria-hobbies {
  padding: 20px;

  margin: 50px;
  display: grid;
  justify-content: center;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid rgb(255, 255, 255) 2px;
}

.galeria-hobbies2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.galeria-cursos {
  padding: 20px;
  margin: 50px;
  display: grid;
  grid-template-rows: 40% 20% 40%;

  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid rgb(255, 255, 255) 2px;
}

figure {
  display: flex;
  flex-wrap: nowrap;
}

img {
  width: auto;
  max-width: 90vw;
  max-height: 90vh;
}

.cursos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-ev {
  width: 100%;
}

.img-otros {
  width: 90%;
  max-height: 50%;
}

.img-hobbies {
  width: 100%;
  margin: 0;
}

.img-certificado {
width: 800px;
}

.img-cursos{
  width: 350px;
  margin: 10px;

}

.minicursos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.centrar-hobbies {
  display: grid;
  justify-content: center;
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.pendiente {
  font-size: 17px;
}

p {
  font-size: 20px;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  font-size: 1.1em;
  text-decoration: none;
}

.a-blanca:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.a-blanca:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.a-blanca:hover {
  font-size: 1.1em;
  text-decoration: none;
}

.a-nav:link {
  color: rgb(31, 39, 49);
  text-decoration: none;
}

.a-nav:visited {
  color: rgb(31, 39, 49);
  text-decoration: none;
}

.a-nav:hover {
  font-size: 1.1em;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

h2 {
  color: white;
  padding: 10px;
}
/* ADAPTATIVE RESPONSIVE MEDIA*/
/* ADAPTATIVE RESPONSIVE MEDIA*/
/* ADAPTATIVE RESPONSIVE MEDIA*/

@media screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
  }

  nav {
    width: 100vw;
    left: 0;
  }

  h1 {
    padding-top: 10px;
    padding-left: 10px;
  }

  p {
    font-size: 15px;
    padding: 10px;
  }

  #fondo-presentacion {
    background-size: 350%;
    background-position-x: center;
    width: 100%;
  }

  #presentacion {
    font-size: 20px;
    justify-content: start;
    text-align: start;
    padding: 50px;
    width: 95%;
  }

  #desc-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }

  .icon-redes {
    width: 40px;
  }

  .galeria {
    padding: 0;
    margin: 5px;
  }

  .galeria-fotos {
    display: grid;
    grid-template-columns: 100%;
  }

  .galeria-hobbies {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  footer {
    font-size: 10px;
    display: block;
  }

  .img-otros {
    width: 100vw;
  }
  .img-hobbies {
    width: 100vw;
  }

  .text {
    display: none;
  }

  main {
    margin: 0;
    padding: 0;
  }

  .prev {
    max-width: 10px;
  }

  .next {
    left: 95%;
    max-width: 10px;
  }
}

/* SCROLLBAR CHANGES*/
/* SCROLLBAR CHANGES*/
/* SCROLLBAR CHANGES*/

body::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}
m body::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
