* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  background-color: #000000;
  opacity: 1;
  background: linear-gradient(135deg, #0c0c0c55 25%, transparent 25%) -20px 0/
      40px 40px,
    linear-gradient(225deg, #0c0c0c 25%, transparent 25%) -20px 0/ 40px 40px,
    linear-gradient(315deg, #0c0c0c55 25%, transparent 25%) 0px 0/ 40px 40px,
    linear-gradient(45deg, #0c0c0c 25%, #000000 25%) 0px 0/ 40px 40px;
}

nav {
  background-color: rgb(31, 39, 49);
  height: 40px;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  align-items: center;
  z-index: 100;
}

#fondo-presentacion {
  background: url("https://bn1304files.storage.live.com/y4mGOjIqg72aLodTLnOuR-fH0eMU0eWeN5b8r6fAI1EKP2lx0rrd9ogsSkkmBrCK7-8QhLZDBkULXFi67QH47YfeJOZKYLP60ppoMClgEP3CvKPnBlsSezU6YQ21-dDE73QxAWdDyDAoq2-kX3WzuAbcOiuEBv2bHpkOIsiT5nPUmeBA4kttrOQfW6dwgFmbSWw?width=2592&height=1456&cropmode=none")
    center fixed no-repeat;
  background-size: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#presentacion {
  background-color: rgba(0, 0, 0, 0.7);
  height: 70%;
  width: 80%;
  display: grid;
  font-family: "Oxanium", cursive;
  color: white;
  font-size: 30px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 150px;
  align-items: space-around;
  font-weight: 700;

  backdrop-filter: blur(3px);
  padding: 100px;
}

.hola {
  font-weight: 200%;
  font-size: 300%;
  position: relative;
  left: 5%;
}

#desc-icon {
  display: grid;
  grid-template-columns: 95% 5%;
}

.icon-redes {
  width: 80%;
}

.galeria {
  padding: 20px;
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.galeria-fotos {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
}

.galeria-hobbies {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 50% 5px 50%;
}

figure {
  display: flex;
  flex-wrap: nowrap;
}

img {
  width: auto;
  max-width: 90vw;
  max-height: 90vh;
}

.img-otros {
  width: 90%;
  max-height: 50%;
}

.img-hobbies {
  width: 100%;
  margin: 0;
}

.centrar-hobbies {
  display: grid;
  justify-content: center;
}

footer {
  color: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  font-family: monospace;
}

.pendiente {
  font-size: 17px;
}

p {
  font-size: 20px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  font-size: 1.1em;
  text-decoration: none;
}

.a-blanca:link {
  color: white;
  text-decoration: none;
}

.a-blanca:visited {
  color: white;
  text-decoration: none;
}

.a-blanca:hover {
  font-size: 1.1em;
  text-decoration: none;
}

h1 {
  font-size: 40px;
}
h2 {
  color: white;
  padding: 10px;
}
/* ADAPTATIVE RESPONSIVE MEDIA*/
/* ADAPTATIVE RESPONSIVE MEDIA*/
/* ADAPTATIVE RESPONSIVE MEDIA*/

@media screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #000000;
    opacity: 1;
    background: linear-gradient(135deg, #27272755 25%, transparent 25%) -20px 0/
        40px 40px,
      linear-gradient(225deg, #272727 25%, transparent 25%) -20px 0/ 40px 40px,
      linear-gradient(315deg, #27272755 25%, transparent 25%) 0px 0/ 40px 40px,
      linear-gradient(45deg, #272727 25%, #000000 25%) 0px 0/ 40px 40px;
  }

  nav {
    width: 100vw;
    left: 0;
  }

  h1 {
    padding-top: 10px;
    padding-left: 10px;
  }

  p {
    font-size: 15px;
    padding: 10px;
  }

  #fondo-presentacion {
    background-size: 350%;
    background-position-x: center;
    width: 100%;
  }

  #presentacion {
    font-size: 20px;
    justify-content: start;
    text-align: start;
    padding: 50px;
    width: 95%;
  }

  #desc-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }

  .icon-redes {
    width: 40px;
  }

  .galeria {
    padding: 0;
    margin: 5px;
  }

  .galeria-fotos {
    display: grid;
    grid-template-columns: 100%;
  }

  .galeria-hobbies {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  footer {
    font-size: 10px;
  }

  .img-otros {
    width: 100vw;
  }
  .img-hobbies {
    width: 100vw;
  }

  .text {
    display: none;
  }

  main {
    margin: 0;
    padding: 0;
  }

  .prev {
    max-width: 10px;
  }

  .next {
    left: 95%;
    max-width: 10px;
  }
}

/* SCROLLBAR CHANGES*/
/* SCROLLBAR CHANGES*/
/* SCROLLBAR CHANGES*/

body::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}
m body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
